POSTGRES_USER=expense_user
POSTGRES_PASSWORD=expense_password
POSTGRES_DB=expense_tracker_db

DATABASE_URL=postgresql+psycopg2://expense_user:expense_password@postgres:5432/expense_tracker_db

JWT_SECRET_KEY=change-this-secret-before-deployment

AUTH_SERVICE_URL=http://auth-service:5000
EXPENSE_SERVICE_URL=http://expense-service:5000
